h1 a {
    color : #FCA205;
    font-family: 'Lobster';
}
#panel{
    display : none;
}
body {
    
    background: url(siteBackground.jpg) repeat;
}


.form01{
    float:left;
    margin-left:70%;
}

.fullmain{
    margin-top : 20px;
    margin-left : 15%;
    padding-bottom: 10%;
}

.page-header {
    width: 500px;
    height: 130px;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: black;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

.content {
    margin-left: 40px;
}

.content container{
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    bottom: 100px;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    width: 700px;
   padding-left: 5%;
   
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-size : 20pt;
}






