{% extends "blog/base.html" %}

{% block content %}
<div id="navcontainer">
            <ul id="navlist">
                <li><a href="{% url "blog.views.post_list"%}">Home</a></li>
                <li id ="active"><a href="{% url "blog.views.book_list" %}">List</a></li>
 
            </ul>
        </div>
<div class ="fullmain">
<div class="content container">
    <div class="row">
        <div class="col-md-8" id="panel">
            <p>    
                <div class="form01">
<form action ="" method="GET" class="pull-right">
    <input type = "text" name = "q" value="{{ q }}" />
</form>
                    </div>
        <div class = "btn1">
                <a href="{% url "blog.views.post_new" %}" class ="btn btn-info" >
                Write
            </a>
            </div>
            </p>
        {% for post in post_list %}
            <div class ="post">
                <div class ="date">
                        {{post.created_date}}
                </div>
                <h1><a href="{% url "blog.views.post_detail" post.pk %}">{{ post.title }}</a></h1>
                  <p id="author">글쓴이 : {{ post.author }}</p>
               <!-- <p>{{ post.text|linebreaks }}</p>-->
            </div>
        {% endfor %}
        </div>
    </div>
</div>
</div>


{% endblock %}
